<!DOCTYPE html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lateef&family=Scheherazade&display=swap" rel="stylesheet">
  <link href='https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles.css">

</head>
<body > 
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow" dir="rtl" align="right">
		<span class="ml-auto navbar-brand"><h2 dir="rtl" align="right">آزمون ارزیابی تصاویر</h2></span>
	</nav>
<div class="container mt-1 p-4">
  <div class="slideshow-container">
      <div class="mySlides fade1" >
			<p dir="rtl" align="right">با درود، به این آزمون خوش آمدید، لطفا در فاصله‌ی شصت سانتی متری صفحه نمایشگر بنشینید و در صورت امکان منبع نور مستقیمی از بالای سر شما روشن نباشد.</p>
			<p dir="rtl" align="right">هدف از این آزمون بررسی چگونگی پاسخ‌دهی افراد به صحنه‌های دیداری مختلف می‌باشد.</p>
			<p dir="rtl" align="right">در این آزمون پنجاه تصویر مختلف ارائه می‌شود. <strong> فقط </strong>با توجه به واکنش و احساس درونی خود، مشخص کنید هر تصویر تا چه میزان برای شما احساس خوشایند یا ناخوشایند و تا چه میزان در شما احساس برانگیختگی ایجاد می‌کند.</p>
			<p dir="rtl" align="right"> احساس انگیختگی شامل هرگونه هیجان بالا می‌باشد که می‌تواند خوشایند یا ناخوشایند باشد. اعداد روی پیوستار دوم تنها میزان انگیختگی شما را نشان می‌دهد.
				نمونه‌هایی از انگیختگی بالا: احساس عصبانیت، ناراحتی، تشویش، اضطراب، سرخوشی، خوشحالی و...</p>
			<p dir="rtl" align="right">ناخوشایند ترین: 1 و خوشایند ترین: 9</p>
			<p dir="rtl" align="right">کمترین انگیختگی: 1 و بیشترین انگیختگی: 9</p>
			<p dir="rtl" align="right"> تصویر اول برای نمونه و یادگیری شما می‌باشد؛ لطفا به نحوه‌ی پاسخ‌دهی به این نمونه‌ دقت کنید.</p>
			<p dir="rtl" align="right">به علت استفاده از سرویس Google Recaptcha، لطفا فیلتر شکن خود را خاموش کنید.</p>
	  		<p dir="rtl" align="right">بعضی از تصاویر ممکن است برای شما ناراحت کننده باشد، با زدن گزینه تایید، آگاهی خود را از این موضوع اعلام کنید.</p>
      <div class="text-center">
        <button onclick="plusSlides(1)" class="btn btn-success btn-block my-4"> تایید و شروع آزمون </button>
      </div>
      </div>
		<form action="/" method="POST" id="theForm" class = "text-center">
		<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
		<input type="hidden" name="action" value="validate_captcha">	
		<% for (var i = 0; i < pictures.length; i ++) { %>
            <div class="mySlides fade1" >
				<div class="card  <% if (i == 0) { %> bg-secondary <% }else {%> bg-dark <% } %> img my-4 py-3 myCard text-white" >
				<% if (i == 0) { %> <h4> دور تست</h4> <% }%>
				<img class="card-img-top" src="/PicStim<%= pictures[i] %>.jpg" alt="Card image" >
                <div class="card-body text-center">
					<div style="position : absolute ; bottom : 0px; margin-left: auto;margin-right: auto;left: 0;right: 0;text-align: center; line-height:1rem;">
					<div class = "shownPooya">
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice1"
							name="h<%= pictures[i] %>" value="-4" >
							<label for="1-<%= pictures[i] %>contactChoice1">1</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice2"
							name="h<%= pictures[i] %>" value="-3" >
							<label for="1-<%= pictures[i] %>contactChoice2">2</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">					
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice3"
							name="h<%= pictures[i] %>" value="-2" >
							<label for="1-<%= pictures[i] %>contactChoice3">3</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">				
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice4"
							name="h<%= pictures[i] %>" value="-1" >
							<label for="1-<%= pictures[i] %>contactChoice4">4</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">				
							<input type="radio" id="1-<%= pictures[i] %>contactChoice5"
							name="h<%= pictures[i] %>" value="0" >
							<label for="1-<%= pictures[i] %>contactChoice5">5</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice6"
							name="h<%= pictures[i] %>" value="1"  > 
							<label for="1-<%= pictures[i] %>contactChoice6">6</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio" id="1-<%= pictures[i] %>contactChoice7"
							name="h<%= pictures[i] %>" value="2"  >
							<label for="1-<%= pictures[i] %>contactChoice7">7</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio" id="1-<%= pictures[i] %>contactChoice8"
							name="h<%= pictures[i] %>" value="3"  > 
							<label for="1-<%= pictures[i] %>contactChoice8">8</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice9"
							name="h<%= pictures[i] %>" value="4"  >
							<label for="1-<%= pictures[i] %>contactChoice9">9</label>
						</div>
						<br>
						<br>
						<span class= " mt-2 rounded p-1 px-4 mt-2" dir="rtl" align="right">میزان خوشایندی</span>
						<br>
                    </div>
                    <div class = "hiddenPooya" style = "display : none">
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice1"
							name="p<%= pictures[i] %>" value="-4" >
							<label for="2-<%= pictures[i] %>contactChoice1">1</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice2"
							name="p<%= pictures[i] %>" value="-3" >
							<label for="2-<%= pictures[i] %>contactChoice2">2</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">					
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice3"
							name="p<%= pictures[i] %>" value="-2" >
							<label for="2-<%= pictures[i] %>contactChoice3">3</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">				
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice4"
							name="p<%= pictures[i] %>" value="-1" >
							<label for="2-<%= pictures[i] %>contactChoice4">4</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">				
							<input type="radio" id="2-<%= pictures[i] %>contactChoice5"
							name="p<%= pictures[i] %>" value="0" >
							<label for="2-<%= pictures[i] %>contactChoice5">5</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice6"
							name="p<%= pictures[i] %>" value="1" > 
							<label for="2-<%= pictures[i] %>contactChoice6">6</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio" id="2-<%= pictures[i] %>contactChoice7"
							name="p<%= pictures[i] %>" value="2" >
							<label for="2-<%= pictures[i] %>contactChoice7">7</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio" id="2-<%= pictures[i] %>contactChoice8"
							name="p<%= pictures[i] %>" value="3" > 
							<label for="2-<%= pictures[i] %>contactChoice8">8</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice9"
							name="p<%= pictures[i] %>" value="4" >
							<label for="2-<%= pictures[i] %>contactChoice9">9</label>
						</div>		
						<br>
						<br>
						<span class= "rounded p-1 px-4 mt-2" dir="rtl" align="right">میزان انگیختگی</span>
					</div>
						<br>
						<button id="sub-<%= pictures[i] %>"  onclick="getHappinessTime(<%= pictures[i] %>)"  type="button" class="btn btn-primary btn-block " style="display: block"> بعدی </button>
                        <button id="next-<%= pictures[i] %>" onclick="plusSlides(1, <%= pictures[i] %>)"     type="button" class="btn btn-primary btn-block " style="display: none;"> بعدی </button>
                     </div>
                    <br>
                </div>
                </div>
            </div>
            <% } %>
            <div class="mySlides fade1">
              <div  style="text-align: center; direction:rtl;">
                <p dir="rtl" align="right">لطفا اطلاعات خواسته شده را وارد کنید</p>
                <label for="gender" dir="rtl" align="right">جنسیت:&nbsp;</label>
                <select id="gender" name="gender" required>
                  <option value="" selected disabled hidden>انتخاب کنید</option>
                  <option value="male" >مرد</option>
                  <option value="female">زن</option>
                  <option value="null">سایر</option>
                </select>
                <br>
                <label for="age" dir="rtl" align="right">سن:&nbsp;</label>
                <select id="age" name="age" required>
                  <option value="" selected disabled hidden>انتخاب کنید</option>
                  <option value="15">15 و کمتر</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>
                  <option value="58">58</option>
                  <option value="59">59</option>
                  <option value="60">60 و بیشتر</option>
                </select>
				<br>
				<label for="education" dir="rtl" align="right">میزان تحصیلات:&nbsp;</label>
				<select id="education" name="education" required>
				  <option value="" selected disabled hidden>انتخاب کنید</option>
				  <option value="0" >زیر دیپلم</option>
				  <option value="1">دیپلم</option>
				  <option value="2">کارشناسی</option>
				  <option value="3" >کارشناسی ارشد</option>
				  <option value="4">دکترا</option>
				  <option value="5">بالاتر</option>
				</select>

				<br>
				<label for="disorder" dir="rtl" align="right">سابقه‌ی بیماری عصبی یا روانی:&nbsp;</label>
				<select id="disorder" name="disorder" required>
				  <option value="" selected disabled hidden>انتخاب کنید</option>
				  <option value="1" >بله</option>
				  <option value="0">خیر</option>
				  <option value="-1">مایل به گفتن نیستم</option>
				</select>

				<br>
				<label for="medCond" dir="rtl" align="right">آیا در حال حاضر تحت درمان دارویی هستید؟&nbsp;</label>
				<select id="medCond" name="medCond" required>
				  <option value="" selected disabled hidden>انتخاب کنید</option>
				  <option value="1" >بله</option>
				  <option value="0">خیر</option>
				  <option value="-1">مایل به گفتن نیستم</option>
				</select>

			</div>

              <div class="text-center">
					<input id="sub"  disabled = "true" type="submit" class="btn btn-warning btn-block my-4" value="ارسال نتایج">
              </div>
            </div>
    <input type="hidden" name="timeStamps" value="{}" id="timeStamps" />
    </form> 
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <p id="pictureCounter" style="display:none"><%= pictures %></p>
</div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=<%= capId %>"></script>
<script>
	function showSlides(n) {
    if (n === <%= pictures.length %> + 2){
        console.log("Executing Captcha")
        grecaptcha.ready(function() {
            grecaptcha.execute('6Lcr7sAZAAAAAF2b6fqmE4Hya72P_XYFl1Hyyow-', {action:'validate_captcha'})
                .then(function(token) {
                    document.getElementById('g-recaptcha-response').value = token;
                    document.getElementById("sub").disabled = false;
                })
                .catch(err => {
                    console.log(err)
                });
            });
    }
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
    }
    slides[slideIndex-1].style.display = "block";
}

</script>
<script src="scripts.js"></script>

</body>
</html>
