<!DOCTYPE html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css2?family=Lateef&family=Scheherazade&display=swap" rel="stylesheet">
  <link href='https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles.css">
<style>
	body {
		font-family: Verdana, sans-serif; margin:0 ;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10+ and Edge */
		user-select: none; /* Standard syntax */
	}
	p {
		font-family: Verdana, sans-serif; margin:0 ;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10+ and Edge */
		user-select: none; /* Standard syntax */
	}	
	h2 {
		font-family: Verdana, sans-serif; margin:0 ;
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10+ and Edge */
		user-select: none; /* Standard syntax */
	}		
</style>
</head>
<body > 
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow justify-content-between">
		<span class="navbar-brand"><h2>The Pilot Test</h2></span>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="flag-icon flag-icon-us">
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  <a class="dropdown-item" href="/"><span class="flag-icon flag-icon-ir"></a>
			  <a class="dropdown-item" href="/en"><span class="flag-icon flag-icon-us"></a>
			</div>
		</div>
	</nav>
<div class="container mt-1 p-4">
  <div class="slideshow-container">
      <div class="mySlides fade1" >
			<p>Hi, I am Arefe Atamanesh and this is a cognitive test for my master’s thesis, conducting in the University of Tehran.</p>
			<p>The aim of this test is to assess individuals’ responses toward the distinct visual scenes.</p>
			<p>Fulfilling of this test will take you about 8 minutes, but it is not timed and limited to 8 minutes.</br> Your information and identity remain anonymous for everyone, including the research team. </br> Some of the pictures may have depressing content for you, whenever you notice any discomfort please feel free to leave the test.</p>
			<p>You will be shown 50 different pictures. Please rate the valence and arousal level of each picture ONLY by your initial feelings.</br>
				The Valence Scale: Specify if your feeling evoked by the image is positive or negative (Do not consider how evocation it is.)</br>
				The least pleasant: 1        The most pleasant: 9</br>				
				The Arousal Scale: It shows the intensity of the emotion experiencing in response to images. Please indicate if that experience is calming or exciting (Do not consider the positive or negative content of the image. The exciting feeling is any high excitation experience which could be pleasant or unpleasant, e.g. euphoria or rage or tension)</br>
					Low activation: 1            High activation: 9</br>				
				The first run is a practice trial, please pay attention to the way you should respond.</br>
				Please press the “Confirm and Start” button begin the test.</p></br>
			<input type="checkbox" class="form-check-input mt-1" id="check1">
			<label class="form-check-label text-muted " for="check1">I have read and I understand the provided information. I understand that my participation is voluntary and that I am free to withdraw at any time, without giving a reason and without cost. I voluntarily agree to take part in this study.</label>
		<div class="text-center">
			<button onclick="plusSlides(1)" class="btn btn-success btn-block my-4" id="startButton" disabled >  Start </button>
		</div>
      </div>
		<form action="/en" method="POST" id="theForm" class = "text-center">
		<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
		<input type="hidden" name="action" value="validate_captcha">	
		<% for (var i = 0; i < pictures.length; i ++) { %>
            <div class="mySlides fade1" >
				<div class="card  <% if (i == 0) { %> bg-secondary <% }else {%> bg-dark <% } %> img my-4 myCard text-white" >
				<div class="card-header bg-dark mb-3"><% if (i == 0) { %> <h4> Practice round </h4> <% } else { %> <h2 id = "counterHead-<%=i%>"></h2> <% }  %> </div>
				<img class="card-img-top" src="/PicStim<%= pictures[i] %>.jpg" alt="Card image" >
                <div class="card-body text-center">
					<div style="position : absolute ; bottom : 0px; margin-left: auto;margin-right: auto;left: 0;right: 0;text-align: center; line-height:1rem;">
					<div class = "shownPooya">
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice1"
							name="h<%= pictures[i] %>" value="-4" >
							<label for="1-<%= pictures[i] %>contactChoice1">1</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice2"
							name="h<%= pictures[i] %>" value="-3" >
							<label for="1-<%= pictures[i] %>contactChoice2">2</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">					
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice3"
							name="h<%= pictures[i] %>" value="-2" >
							<label for="1-<%= pictures[i] %>contactChoice3">3</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">				
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice4"
							name="h<%= pictures[i] %>" value="-1" >
							<label for="1-<%= pictures[i] %>contactChoice4">4</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">				
							<input type="radio" id="1-<%= pictures[i] %>contactChoice5"
							name="h<%= pictures[i] %>" value="0" >
							<label for="1-<%= pictures[i] %>contactChoice5">5</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice6"
							name="h<%= pictures[i] %>" value="1"  > 
							<label for="1-<%= pictures[i] %>contactChoice6">6</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio" id="1-<%= pictures[i] %>contactChoice7"
							name="h<%= pictures[i] %>" value="2"  >
							<label for="1-<%= pictures[i] %>contactChoice7">7</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio" id="1-<%= pictures[i] %>contactChoice8"
							name="h<%= pictures[i] %>" value="3"  > 
							<label for="1-<%= pictures[i] %>contactChoice8">8</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="1-<%= pictures[i] %>contactChoice9"
							name="h<%= pictures[i] %>" value="4"  >
							<label for="1-<%= pictures[i] %>contactChoice9">9</label>
						</div>
						<br>
						<br>
						<span class= " mt-2 rounded p-1 px-4 mt-2">Rate for Valence</span>
						<br>
                    </div>
                    <div class = "hiddenPooya" style = "display : none">
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice1"
							name="p<%= pictures[i] %>" value="-4" >
							<label for="2-<%= pictures[i] %>contactChoice1">1</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice2"
							name="p<%= pictures[i] %>" value="-3" >
							<label for="2-<%= pictures[i] %>contactChoice2">2</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">					
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice3"
							name="p<%= pictures[i] %>" value="-2" >
							<label for="2-<%= pictures[i] %>contactChoice3">3</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">				
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice4"
							name="p<%= pictures[i] %>" value="-1" >
							<label for="2-<%= pictures[i] %>contactChoice4">4</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">				
							<input type="radio" id="2-<%= pictures[i] %>contactChoice5"
							name="p<%= pictures[i] %>" value="0" >
							<label for="2-<%= pictures[i] %>contactChoice5">5</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice6"
							name="p<%= pictures[i] %>" value="1" > 
							<label for="2-<%= pictures[i] %>contactChoice6">6</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio" id="2-<%= pictures[i] %>contactChoice7"
							name="p<%= pictures[i] %>" value="2" >
							<label for="2-<%= pictures[i] %>contactChoice7">7</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio" id="2-<%= pictures[i] %>contactChoice8"
							name="p<%= pictures[i] %>" value="3" > 
							<label for="2-<%= pictures[i] %>contactChoice8">8</label>
						</div>
						<div class="checkboxgroup ml-md-4 ml-sm-3 ml-2">
							<input type="radio"  id="2-<%= pictures[i] %>contactChoice9"
							name="p<%= pictures[i] %>" value="4" >
							<label for="2-<%= pictures[i] %>contactChoice9">9</label>
						</div>		
						<br>
						<br>
						<span class= "rounded p-1 px-4 mt-2">Rate for Arousal</span>
					</div>
						<br>
						<button id="sub-<%= pictures[i] %>"  onclick="getHappinessTime(<%= pictures[i] %>)"  type="button" class="btn btn-primary btn-block " style="display: block"> Next </button>
                        <button id="next-<%= pictures[i] %>" onclick="plusSlides(1, <%= pictures[i] %>)"     type="button" class="btn btn-primary btn-block " style="display: none;"> Next </button>
                     </div>
                    <br>
                </div>
                </div>
            </div>
            <% } %>
            <div class="mySlides fade1">
              <div  style="text-align: center;">
                <p>Please fill out this form</p>
                <label for="gender">Gender:&nbsp;</label>
                <select id="gender" name="gender" required>
                  <option value="" selected disabled hidden>Choose One</option>
                  <option value="male" >Male</option>
                  <option value="female">Female</option>
				  <option value="null">Other</option>
				  <option value="null0">Prefer not to say</option>				  
                </select>
                <br>
                <label for="age">Age:&nbsp;</label>
                <select id="age" name="age" required>
                  <option value="" selected disabled hidden>Choose One</option>
                  <option value="15">15 and younger</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                  <option value="32">32</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                  <option value="42">42</option>
                  <option value="43">43</option>
                  <option value="44">44</option>
                  <option value="45">45</option>
                  <option value="46">46</option>
                  <option value="47">47</option>
                  <option value="48">48</option>
                  <option value="49">49</option>
                  <option value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>
                  <option value="58">58</option>
                  <option value="59">59</option>
                  <option value="60">60 and older </option>
                </select>
				<br>
				<label for="education">level of education:&nbsp;</label>
				<select id="education" name="education" required>
				  <option value="" selected disabled hidden>Choose One</option>
				  <option value="0" >high-school diploma or under</option>
				  <option value="1">bachelor’s degree</option>
				  <option value="2">master’s degree</option>
				  <option value="3" >PhD</option>
				</select>

				<br>
				<label for="disorder">Do you have any psychological and/or neurological disorder history?  &nbsp;</label>
				<select id="disorder" name="disorder" required>
				  <option value="" selected disabled hidden>Choose One</option>
				  <option value="1" >Yes</option>
				  <option value="0">No</option>
				  <option value="-1">Prefer not to say</option>
				</select>

				<br>
				<label for="medCond">Have you received any pharmacological treatment during the last month?&nbsp;</label>
				<select id="medCond" name="medCond" required>
				  <option value="" selected disabled hidden>Choose One</option>
				  <option value="1" >Yes</option>
				  <option value="0">No</option>
				  <option value="-1">Prefer not to say</option>
				</select>

			</div>

              <div class="text-center">
					<input id="sub"  disabled = "true" type="submit" class="btn btn-warning btn-block my-4" value="Send the result">
              </div>
            </div>
    <input type="hidden" name="timeStamps" value="{}" id="timeStamps" />
    </form> 
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <p id="pictureCounter" style="display:none"><%= pictures %></p>
</div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=<%= capId %>"></script>
<script>
	function showSlides(n) {
    if (n === <%= pictures.length %> + 2){
		console.log("Executing Captcha")
		setTimeout(() => {
            document.getElementById("sub").disabled = false;
		}, 4000)
        grecaptcha.ready(function() {
            grecaptcha.execute('6Lcr7sAZAAAAAF2b6fqmE4Hya72P_XYFl1Hyyow-', {action:'validate_captcha'})
                .then(function(token) {
                    document.getElementById('g-recaptcha-response').value = token;
                    document.getElementById("sub").disabled = false;
                })
                .catch(err => {
                    console.log(err)
                });
            });
    }
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}    
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
    }
    slides[slideIndex-1].style.display = "block";
}

var checkbox = document.querySelector("input[id=check1]");
let startButton = document.getElementById("startButton");

checkbox.addEventListener('change', function() {
  if (this.checked) {
	startButton.disabled = false;	
  } else {
	startButton.disabled = true;	
  }
});

</script>
<script src="scripts.js"></script>

</body>
</html>
